<section class="content">
	<div class="content-cnt fn-clear">
		<div class="main fn-clear">
			<article class="entry">
				<h1 class="title">{{ page.title }}</h1>
               	<p class="meta"><time class="date" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time> By <a href="/about.html" class="author" title="author">{{ site.author.name }}</a><g:plusone size="small"></g:plusone></p>
               	<p class="description">{{ page.description }}</p>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3891446182867361";
/* 728x15 */
google_ad_slot = "0671443203";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
 			 	{{ content }}
                <nav class="pagination-link">
                    {% if page.previous %}
                    <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
                    {% endif %}
                    {% if page.next %}
                    <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
                    {% endif %}
                 </nav>
			</article><!-- .entry -->
		<hr>
		{% include JB/comments %}
		</div>
		<div class="aside fn-clear">
			{% include themes/greyer/wg-search.html %}
			{% include themes/greyer/wg-contact.html %}
			{% include themes/greyer/wg-categories.html %}
			{% include themes/greyer/wg-project.html %}
			{% include themes/greyer/wg-other.html %}
		</div>
	</div>
</section>