/* Override some defaults */
/**************zwiki**************/
html body {
	max-width: 1000px;
	color: white;
    position: relative;
    margin: 40px auto 0;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
}
h1 {font-size: 2.7em;color: #f37;margin-bottom: 0.5em;}
h2 {font-size: 2.0em;color: #fd5;
    border-bottom: 1px solid #29362E;
    border-bottom: 1px solid rgba(255,230,0,0.1);}
h3 {font-size: 1.5em;color: #df5;margin-bottom: 0.4em;
    /*border-bottom: 1px dashed #29362E;*/
    /*border-bottom: 1px dashed  rgba(255,230,0,0.1);*/}
h4 {font-size: 1.25em;color: #6d9;}
h5 {font-size: 1.15em;color: #e3e3f3;}
h6 {font-size: 1.0em;}
p {
	font-size: 1.2em;
	line-height: 1.5em;
}
.span3 {
	margin-top: 20px;
}

#footer {
    margin-top: 20px;
    text-align: center;
    border: 5px solid #75143F;
    border: 5px solid rgba(255,0,80,0.42);
    border-width: 5px 10px;
}
#footer p{
    background: #341D36;
    background: rgba(255,0,80,0.15);
    padding: 1em;
    margin: 0;
}
#footer a{
    color: orange;
}
.content {
  padding: 0 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.page-header {
  padding-bottom: 1px;
  border-bottom: 1px dashed #EEE;
}

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height: 20px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	border-radius: 3px;
	text-decoration:none;
    font-weight: bold;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a:link {/* 默认时 */
	background:#999;
	color:#FFF;
}
.tag_box a:visited {/* 点过后 */
	background:#999;
	color:#FFF;
}
.tag_box a:hover {/* 经过时 */
	background:#F95B1F;
	color:#FFF;
}
.tag_box a:active {/* 按下时 */
	background:yellow;
	color:#000;
}
a {
    color: #0df;
    text-decoration: none;
}
a:hover {
	color: #1cfffc;
}
#all {
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    -moz-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    border-width: 0 12px;
}
#header {
    border-top: 1px dashed #246;
}
#top-nav {
    position: relative;
    top: -18px;
    width: 480px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
#top-nav li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
#top-nav a{
    display: block;
    padding: 8px 20px;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

ol, ul {
    margin-left: 1.5em;
}
img {
    border: none;
}

.tocWrap {
    position: fixed; 
    width: 200px;
    z-index: 100;
    top: 16%;
    right: 2.8%;
    display: none;
}
.toc {
    display: none;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #F0C81E;
    border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    color: #999;
    background: #0C1F2C;
    background: rgba(10,30,40,0.85);
    padding: 12px;
    box-shadow: 0 1px 8px #000;
    -webkit-box-shadow: 0 1px 8px #000;
    -moz-box-shadow: 0 1px 8px #000;
}
.tocWrap .toggler {
    text-align: center;
    font-size: 12px;
    background: #F0C81E;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    color: #122;
    position: relative;
    z-index: 101;
    cursor: pointer;
}
.toc ul {
    margin: 0;
}
.toc li {
    color: #eff;
}
.toc a {
    color: #eff;
}

/*--下拉式c--*/
.lesser {
    border: 2px solid #194058;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}
.lesser .hd {
    cursor: pointer;
    text-align: center;
    background: rgba(222,22,22,0.5);
}
.lesser .hd * {
    font-weight: 100;
    width: auto;
    font-size: 14px;
    color: #aed;
    margin: 0;
}
.lesser .cont {
    display: none;
}
/**************目录导航**************/
#menuIndex {position:fixed;top:100px;right:5px;width:200px;overflow:auto}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;}
#menuIndex li.h3{padding-left:15px;}
/* 去掉列表前的标识, li 会继承 */
ul {list-style:none;}


pre.prettyprint {
	background: #8B8D5F;
	background: rgba(0, 155, 255, 0.2);
	padding:1px;
	overflow:auto;
	margin-bottom:10px;
	font-size:14px;
	border: 1px solid #eee;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	color:#b9bdb6
}
pre code {
	background-color:transparent;
	font-size:14px;
	font-family:'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important
}
pre:hover, code:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}
pre ol {
	margin-left:40px;
	list-style-type:decimal;
}
ul code, p code {
	padding:0 1px;
	font-size:0.9em;
	line-height:1.5em;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
    font-family:'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important
}
